body {
  background: #2c3330;
  text-align: center;
}

.img {
  width: 40px;
  height: 40px;
  position: relative;

  cursor: pointer;

  background: none;
  border: none;
}

.notification {
  text-align: center;
  background: #7a807d;
  border-radius: 6px;
  height: 25px;
  width: max-content;
}

.center-div {
  margin: auto;
  width: 60%;
  padding: 10px;
}
